
.cuadro_1{

margin-top:80px;

	padding: 10px 10px 30px;

	border: #E1DDDD 5px solid; 

	border-radius: 20px; 

	background-color:#FFFFFF;

}

.cuadro_1 h1{

text-align:center;

}

.cuadro_1 img{

display:block;

margin:auto;

}


.glyphicon-remove{
	color: #d9534f;
}

.glyphicon-envelope{
	color: #337ab7;
}

.glyphicon-new-window{
	color: #333333;
}

//Modulo cotizaciones Style 
.centrar {
	text-align: center;
}
.i-borrar {
	color: #d9534f;
	padding-right: 10px;
}
.col-cantidad{
	width: 10%;
}
.col-horas, .col-importe {
	width: 15%;
}
.col-concepto, .col-descripcion {
	width: 35%;
}
.totales {
	margin-right: 0px;
}