
.cuadro_1{

margin-top:80px;

	padding: 10px 10px 30px;

	border: #E1DDDD 5px solid; 

	border-radius: 20px; 

	background-color:#FFFFFF;

}

.cuadro_1 h1{

text-align:center;

}

.cuadro_1 img{

display:block;

margin:auto;

}

.centrar {
	text-align: center;
}
.i-borrar {
	color: #d9534f;
	padding-right: 10px;
}

.glyphicon-remove{
	color: #d9534f;
}

.glyphicon-envelope{
	color: #337ab7;
}

.glyphicon-new-window{
	color: #333333;
}